//-
	db: Array of returned records
	Big: for accurate js math, see https://mikemcl.github.io/big.js/

h1 Food

p hello world

table
	- var headVal = ['name', 'type', 'sellby', 'price .excl', 'vat', 'full price']
	thead
		tr
			each headName in headVal
				th.center #{headName}
	- var total = {excl: Big(0), incl: Big(0)}
	tbody
		each dbRow in db
			- var priceExcl = Big(dbRow.price).div(Big(dbRow.vat).plus(100).div(100)).toFixed(2)
			- total.excl = total.excl.plus(priceExcl)
			- total.incl = total.incl.plus(dbRow.price)
			tr
				td #{dbRow.name}
				td #{dbRow.type}
				td #{dbRow.sellby}
				td.right #{priceExcl}
				td.right #{dbRow.vat}
				td.right #{dbRow.price}
	tfoot
		tr
			th Total
			th
			th
			th.right #{total.excl.toFixed(2)}
			th.right
			th.right #{total.incl.toFixed(2)}
